<!DOCTYPE HTML>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default" th:with="title='Welcome, ' + ${employee.firstname}">
<head>
    <meta charset="utf-8"/>
	<title th:text="Index"></title>
</head>
<body>
	<div class="col s12 m8 offset-m1 xl7 offset-xl1" layout:fragment="content">
		<p>You can access the interventions, the customers and the employees on the left.</p>	    
	 </div>
	
	<th:block layout:fragment="customScripts">	
		<script>
			// Init all tooltips on the page
			document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('.tooltipped');
			    var instances = M.Tooltip.init(elems, {});
		  	});
		</script>		
	</th:block>	
</body>
</html>