<!DOCTYPE HTML>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default" th:with="title='Employees'">
<head>
    <meta charset="utf-8"/>
	<title th:text="${title}"></title>
</head>
<body>
	<div class="col s12 m8 offset-m1 xl7 offset-xl1" layout:fragment="content">		
		<table class="table table-striped">
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Work rate</th>
				<th sec:authorize="${hasAuthority('ADMIN')}">Actions</th>
			</tr>
			<tr th:each="employee : ${employees}">
				<td th:text="${#strings.defaultString(employee?.firstname, '')}"></td>
				<td th:text="${#strings.defaultString(employee?.lastname, '')}"></td>
				<td th:text="${#strings.defaultString(employee?.workRate, '')}"></td>
				<td sec:authorize="${hasAuthority('ADMIN')}">
					<a class="btn-flat tooltipped" data-position="top" data-tooltip="Edit" th:href="@{/app/employee/edit/{id}(id=${employee.id})}"><i class="material-icons left">edit</i></a>
					<a th:if="${employee.id != user.id}" class="btn-flat tooltipped" data-position="top" data-tooltip="Delete" th:href="@{/app/employee/delete/{id}(id=${employee.id})}"><i class="material-icons left">delete</i></a>
				</td>
			</tr>
		</table>
		<div sec:authorize="${hasAuthority('ADMIN')}" class="fixed-action-btn">
			<a class="btn-floating btn-large waves-effect waves-light tooltipped modal-trigger" href="/app/employee/add" data-position="left" data-tooltip="New employee">
				<i class="material-icons">add</i>
			</a>
	 	</div>
	 </div>
	
	<th:block layout:fragment="customScripts">	
		<script>
			// Init all tooltips on the page
			document.addEventListener('DOMContentLoaded', function() {
			    var elems = document.querySelectorAll('.tooltipped');
			    var instances = M.Tooltip.init(elems, {});
		  	}); 
		</script>
	</th:block>	
</body>
</html>