header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

a.btn-floating, a.btn-floating:hover{
	background-color:#ee6e73;
}

nav.top-nav {
	height: 110px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.14);
	background-color: transparent;
}

.header {
	color: #ee6e73;
	font-weight: 300;
}

nav.top-nav h1.header {
	margin: 0;
	padding-top: 22px;
}

.row .col.offset-m1 {
	margin-left: 8.3333333333%;
}

main > .container, body > .page-footer > .container, .top-nav > .container, #index-banner > .container, .github-commit > .container {
	width: 100%;
}

a.sidenav-trigger.top-nav {
	position: absolute;
	text-align: center;
	height: 48px;
	width: 48px;
	top: 28px;
	float: none;
	margin-left: 1.5rem;
	color: #f3989b;
	font-size: 36px;
	z-index: 2;
}

@media only screen and (max-width: 992px){
	nav .nav-wrapper {
		text-align: center;
	}
}